@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(108, 117, 125);
  --dark: rgb(52, 58, 64);
  --red: rgb(239, 35, 60);
  --yellow: rgb(255, 195, 0);
  --green: rgb(14, 173, 105);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  line-height: normal;
  color: inherit;
}

html body input,
html body button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

html body button {
  cursor: pointer;
}

html body ul {
  list-style: none;
  list-style-type: none;
}

html body a {
  text-decoration: none;
  color: inherit;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

#app .selects-container {
  width: 100%;
  position: relative;
}

#app .selects-container .custom-select {
  width: 200px;
  position: relative;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 5px;
  float: left;
}

#app .selects-container .custom-select:not(:first-of-type) {
  margin-left: 1rem;
}

#app .selects-container .custom-select .custom-select-title {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--dark);
  text-transform: capitalize;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}

#app .selects-container .custom-select .custom-select-items {
  position: absolute;
  width: 200px;
  top: 55px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  display: none;
}

#app .selects-container .custom-select[data-is-open="true"] .custom-select-items {
  display: block;
}

#app .selects-container .custom-select .custom-select-items > li {
  padding: 5px 10px;
  color: var(--gray);
}

#app .selects-container .custom-select .custom-select-items > li:not(:first-of-type) {
  border-top: inherit;
}

#app .badge {
  padding: 5px 10px;
  border-radius: 3px;
}

#app .badge-red {
  background-color: rgba(239, 35, 60, 0.2);
  color: var(--red);
}

#app .badge-gray {
  background-color: rgba(108, 117, 125, 0.2);
  color: var(--dark);
}

#app .badge-green {
  background-color: rgba(14, 173, 105, 0.2);
  color: var(--green);
}

#app .badge-yellow {
  background-color: rgba(255, 195, 0, 0.2);
  color: #ffba08;
}

#app .tables {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tables .headerTitle {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: var(--dark);
  text-transform: capitalize;
}

.tables .table {
  width: 100%;
  border-collapse: collapse;
}

.tables .table .row {
  width: 100%;
  height: 100px;
  display: flex;
  overflow: hidden;
}

.tables .table .row:first-of-type {
  height: unset;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tables .table .row:last-of-type {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tables .table .row th.title {
  padding: 0.5rem 1rem;
  flex-basis: calc(100% / 7);
  color: var(--gray);
  font-weight: 400;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: var(--white);
}

.tables .table .row td.column {
  padding: 0.5rem 1rem;
  flex-basis: calc(100% / 7);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgba(52, 58, 64, 0.6);
  font-size: 17px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: var(--white);
}

/* FOR MOBILE & TABLET */

@media (max-width: 1024px) {
  .tables .table {
    overflow-x: auto;
  }

  .tables .table .row:first-of-type {
    height: 100px;
  }

  .tables .table .row td.column {
    min-width: 100%;
  }
}
